body
  //font-family 'Roboto-light', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color $dark
  background $grey-1
  font-weight 300

.screen--xs &
  font-size .75rem
  line-height 1.2
.screen--sm &
  font-size .9rem
  line-height 1.2
  @media (max-height 400px)
    font-size .7rem
    line-height 1.1
  //@media (max-width 568px)
    //font-size .7rem
    //line-height 1.1
.screen--md &
  font-size 1.25rem
  line-height 1.2
  @media (max-height 420px) // для длинных и узких телефонов, повёрнутых горизонтально
    font-size .9rem
    line-height 1.1
    @media (min-width 800px) // iphone 10
      font-size .75rem
      line-height 1.05
.screen--lg &
  font-size 1.35rem
.screen--xl &
  font-size 1.5rem

a
  color inherit
  font-weight bold

p
  text-indent 2em
  margin-bottom 0

.none-opacity
  opacity 0
.xs-opacity
  opacity .25
.sm-opacity
  opacity .5
.md-opacity
  opacity .75
.full-opacity
  opacity 1

.q-dialog__backdrop
  background rgba(0, 0, 0, 0.95)

.q-bar
  background black
  height 32px

.q-menu
  color black
  font-size 16px

  .q-date
    font-size 14px

  .q-list--dark, .q-item--dark
    color inherit

.search .q-field
  z-index 9000
.q-menu
  z-index 9000
