html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto auto;
    font-family: 'Neucha', cursive;
    background-color: rgba(224,224,224,.5);   
}


/*::-moz-selection {
	background: rgba(224,224,224,0.5); 
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(128,128,128,0.6);
}*/
::selection {
	background: rgba(224,224,224,.5); 
    text-shadow: .1rem .1rem .2rem rgba(128,128,128,.6);
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/

.flex-center {
 	display: flex;
    align-items: center;
    justify-content: center;

}

.flex-left {
 	display: flex;
    align-items: center;
    justify-content: left;

}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.text-left {
    text-align: left;
    vertical-align: middle;
}

.no-margin {
    margin: 0rem 0rem 0rem 0rem;    
}

.margin-1-rem {
    margin: 1rem 1rem 1rem 1rem;
}

.padding-1-rem {
    padding: 1rem 1rem 1rem 1rem;
}

.zone {
    cursor: auto;
    border-radius: .2rem;
    border:1px solid #bbb;
    transition: all .3s ease-in-out;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,.2) 0px 5px 15px;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/

/*.zone-nav {
    cursor:auto;
    color:#FFF;
    border-radius:1px;
    transition: all .3s ease-in-out;
}

.zone-nav:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0.3rem 0.3rem;
    justify-content: flex-end;
}*/

/***********************************************************************
 *  Header
 **********************************************************************/

.header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
/*    color: midnightblue;*/
}

.zone-header {
    height: 100%;
/*    height: 50vh;    */
    background-image: url(./img/head-image.jpg);
    background-size: cover;
	background-position: center;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 2rem;
}

/***********************************************************************
 *  Grid Panel
 **********************************************************************/

.grid-wrapper {
    margin: 0rem .1rem;
    display: grid;
/*    grid-template-columns: repeat(1fr, minmax(350px, 1fr));*/
    grid-template-columns: 1fr;
    border-radius:4px;
}

.box {
    background-color: #fafafa;
    padding: .25rem .5rem;
    margin: .25rem .5rem;
    border-radius:4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.box > img {
    width: 100%;
    height: auto;
}

/*******************
 *  About me
 *******************/

.grid-about-me-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0rem 0rem 1rem 0rem;
}

.grid-about-me-section2 {
    display: grid;
/*    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));*/
    grid-template-columns: 1fr;
}

.photo-about-me-section2 {

}

.text-about-me-section2 > p {
 	padding: 0rem 1rem;
    margin: 0rem 0rem;
}

.photo {
    min-width: 100px;
    max-width: 200px;
    border-radius: 50%;
    border:1px solid #bbb;
}

/*******************
 *  About this website
 *******************/

.grid-about-site-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0rem 0rem 1rem 0rem;
}

.grid-about-site-section2 {
    display: grid;
    grid-gap: .4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.logo-html-css > img {
    max-width: 40%;
/*    height: auto;*/
}

.zone-around-small-image {
    background-color: rgba(0,0,0,.1);
	padding: .5rem .5rem;
    margin: 0rem 0rem;
    border-radius: 1rem;
/*    border:1px solid #bbb;*/
    transition: all .3s ease-in-out;

}

.zone-around-small-image:hover {
    -webkit-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
}

.small-image {
/*    max-width: 128px;*/
	padding: 0rem, 0rem;
	margin: 0rem, 0rem;
    border-radius: .5rem;

}

.rotateable-left:hover {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.rotateable-right:hover {
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
}

.text-about-site-section2 {
 	padding: 0rem .3rem;
    margin: .2rem;
 	grid-column: span 2;
}

.text-about-site-section2 > p {
    margin: .2rem;
}


.link-to-other-page {

    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}
/*.bootstrap-logo:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}*/

/*******************
 *  Work
 *******************/

.grid-work-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0rem 0rem 1rem 0rem;
}

.grid-work-section2 {
    display: grid;
	grid-gap: .1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 3fr;
}

.text-work-section2 > p {
    padding: 0rem 1rem;
    margin: 0rem 0rem;
}

/*******************
 *  Skills
 *******************/

.zone-skills {
	border-radius: 1rem;
/*    border:1px solid #bbb;*/
    transition: all .3s ease-in-out;
}

.zone-skills:hover {
    -webkit-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,.8) 0px 5px 15px, inset rgba(0,0,0,.15) 0px -10px 20px;
}

.box-skills {
/*    background-color: #fafafa;*/
    padding: .5rem .5rem;
    margin: 0rem 0rem;
}

.box-skills > img {
    width: 100%;
    height: auto;
}



.grid-skills-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0rem 0rem 1rem 0rem;
}

.grid-skills-section2 {
    display: grid;
    grid-gap: .3rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    margin: 0rem 0rem .5rem 0rem;
/*  grid-area: 2 / 2 / 6 / 6;*/
}

.grid-skills-section3 {
    display: grid;
	grid-gap: .3rem;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
/*	grid-area: 2 / 2 / 6 / 6;*/
}

.zone-around-very-small-image {
    background-color: rgba(0,0,0,.1);
    padding: .11rem .11rem;
    margin: 0rem 0rem;
    border-radius: 1rem;
/*    border:1px solid #bbb;*/
    transition: all .3s ease-in-out;

}

.very-small-image {
/*  background-color: rgba(0,0,0,0);*/
    width: 100%;
    height: auto;
    max-width: 56px;

    padding: 0rem, 0rem;
    margin: 0rem, 0rem;
    border-radius: .3rem;
    border: 0px;
}


/*Positioning*/
.green-sector {
	grid-area: 1 / 1 / 2 / 2;
}

.yellow-sector {
	grid-area: 2 / 1 / 3 / 2;
}


.text-for-green-sector {
	grid-area: 1 / 2 / 2 / 3;
}

.text-for-yellow-sector {
	grid-area: 2 / 2 / 3 / 3;
}


.img1 {
	grid-area: 1 / 2 / 2 / 3;
}

.img2 {
	grid-area: 1 / 3 / 2 / 4;
}

.img3 {
	grid-area: 1 / 4 / 2 / 5;
}

.img4 {
	grid-area: 1 / 5 / 2 / 6;
}

.img5 {
	grid-area: 2 / 2 / 3 / 3;
}

.img6 {
	grid-area: 2 / 3 / 3 / 4;
}

.img7 {
	grid-area: 2 / 4 / 3 / 5;
}

.img8 {
	grid-area: 2 / 5 / 3 / 6;
}

.img9 {
	grid-area: 3 / 2 / 4 / 3;
}

.img10 {
	grid-area: 3 / 3 / 4 / 4;
}

.img11 {
	grid-area: 3 / 4 / 4 / 5;
}

.img12 {
	grid-area: 3 / 5 / 4 / 6;
}

.img13 {
	grid-area: 4 / 2 / 5 / 3;
}

.img14 {
	grid-area: 4 / 3 / 5 / 4;
}

.img15 {
	grid-area: 4 / 4 / 5 / 5;
}

.img16 {
	grid-area: 4 / 5 / 5 / 6;
}
/*Positioning*/




/*******************
 *  Contact
 *******************/

.grid-contact-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0rem 0rem 1rem 0rem;
}

.grid-contact-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo {
    padding: .1rem .1rem;
    margin: .1rem .5rem;
}

.logo:hover {
/*  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 3;*/
  border-radius: 64px;
  background-color: rgba(255,255,255,.5);
}

/***********************************************************************
 *  Footer
 **********************************************************************/

.footer-wrapper {
    padding: 1.5rem 0rem 1.5rem 0rem;
    margin: 1rem 0rem 0rem 0rem;
}

 /*******************
 *  @media
 *******************/

@media only screen and (max-width: 319px) {

  .font-size-depends-on-screen-width {
 	font-size: .8rem;
}
}

@media only screen and (min-width: 320px) {
  .font-size-depends-on-screen-width {
 	font-size: .9rem;
    line-height: 1.5rem;
}
}

@media only screen and (min-width: 480px) {
  .font-size-depends-on-screen-width {
 	font-size: 1rem;
    line-height: 1.5rem;
}
}

@media only screen and (min-width: 768px) {
  .font-size-depends-on-screen-width {
 	font-size: 1.2rem;
}
 .bootstrap-logo {
	width: 2.0rem;
	height: 2.0rem;
}
}

@media only screen and (min-width: 1024px) {
  .font-size-depends-on-screen-width {
 	font-size: 1.4rem;
    line-height: 2rem;
}
}

@media only screen and (min-width: 1440px) {
  .font-size-depends-on-screen-width {
    font-size: 2rem;
    line-height: 2.5rem;
}
}

@media only screen and (min-width: 2048px) {
  .font-size-depends-on-screen-width {
    font-size: 2.5rem;
    line-height: 3rem;
}
}




/*For wide screen*//*For wide screen*//*For wide screen*//*For wide screen*/
@media only screen and (min-width: 600px) {

.box {
    padding: 1rem 2rem;
    margin: .5rem 1rem;
}

.grid-wrapper {
    margin: 0rem 2rem;
}

.grid-about-me-section2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
   
.grid-about-site-section2 {
    display: grid;
    grid-gap: .2fr;
	grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
}

/*.box-about-site {
    padding: 0rem 0rem;
}*/

.logo-html-css > img {
    max-width: 100%;
/*    height: auto;*/
}

.grid-skills-section3 {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
}

/*Positioning*/
.html-logo {
 	grid-column: 1/2;
 	grid-row: 1/2;
}

.text-about-site-section2 {
 	grid-column: 2/3;
 	grid-row: 1/2;
}

.css-logo {
 	grid-column: 3/4;
 	grid-row: 1/2;
}
/*Positioning*/

}
/*For wide screen*//*For wide screen*//*For wide screen*//*For wide screen*/


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: rgba(0,255,0,.65);
}
/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    background: rgba(255, 102, 0, 0.65);
}