$WB-primary   = #008CBA
$WB-secondary = #5FAB06
$WB-accent    = #555

$WB-positive  = #21BA45
$WB-negative  = #DB2828
$WB-info      = #31CCEC
$WB-warning   = #F2C037

$WB-dark = #424242
$WB-neutral   = #E0E1E2
$WB-primary-color = #575657
$WB-secondary-color = #cde8f1
$WB-accent-color = #d8d8d8

$WB-bg-color = #3c3b3c
$WB-info-color = #62b107
$WB-danger-color = #f82317
$WB-warning-color = #f68634
$WB-link-color = #008cba

$WB-border-color = #f2f2f2
$WB-border-title-color = #b2b2b2
$WB-border-comments-color = #979797
$WB-border-input-color = #999999
$WB-disabled-color = #9b9b9b

$WB-legend-color-danger = #d0021b
$WB-legend-color-warning = #f5a623
$WB-legend-color-info = #5fab06

$WB-facebook-color = #3b5998
$WB-twitter-color = #00aced
$WB-google-color = #d62d20
$WB-instagram-color = #966842
$WB-vkontakte-color = #4c75a3
$WB-odnoklassniki-color = #ed812b

$WB-text-profile-color = #999999
$WB-tooltip-title-color = #d8d8d8
$WB-bg-active-color = rgba(126 211 33, 0.38)
$WB-text-active-color = #5fab06
$WB-schedule-green = #7ed321
$WB-bg-profile-color = #e4e0e0

$WB-modal-bg-color = #4a4a4a

$WB-table-hover-background = $WB-bg-active-color
$WB-table-header-border = #fafafa
$WB-table-cell-border = #e5e5e5
$WB-table-first-cell-color = #929292

$WB-dialer-header-color = #333333
$WB-input-border-color = #e4e0e0

$WB-work-day = #86a9d0
$WB-weekend = #fe3e55

$WB-background-white = '.modal__input, .card__content, .q-table-container, .accruals__date-from, .accruals__date-to'
$WB-color-white = '.call, .comments__btn, .debt__title-days, .modal__title, .modal__btn, .popover-comments, .card__header, .socials__list_modal, .tooltip-phones__number'

:root
  --q-color-WB-primary $WB-primary
  --q-color-WB-secondary $WB-secondary
  --q-color-WB-accent $WB-accent
  --q-color-WB-dark $WB-dark
  --q-color-WB-neutral $WB-neutral
  --q-color-WB-primary-color $WB-primary-color
  --q-color-WB-secondary-color $WB-secondary-color
  --q-color-WB-accent-color $WB-accent-color
  --q-color-WB-bg-color $WB-bg-color
  --q-color-WB-info-color $WB-info-color
  --q-color-WB-danger-color $WB-danger-color
  --q-color-WB-warning-color $WB-warning-color
  --q-color-WB-link-color $WB-link-color
  --q-color-WB-border-color $WB-border-color
  --q-color-WB-border-title-color $WB-border-title-color
  --q-color-WB-border-comments-color $WB-border-comments-color
  --q-color-WB-border-input-color $WB-border-input-color
  --q-color-WB-disabled-color $WB-disabled-color
  --q-color-WB-legend-color-danger $WB-legend-color-danger
  --q-color-WB-legend-color-warning $WB-legend-color-warning
  --q-color-WB-legend-color-info $WB-legend-color-info
  --q-color-WB-facebook-color $WB-facebook-color
  --q-color-WB-twitter-color $WB-twitter-color
  --q-color-WB-instagram-color $WB-instagram-color
  --q-color-WB-vkontakte-color $WB-vkontakte-color
  --q-color-WB-odnoklassniki-color $WB-odnoklassniki-color
  --q-color-WB-text-profile-color $WB-text-profile-color
  --q-color-WB-tooltip-title-color $WB-tooltip-title-color
  --q-color-WB-bg-active-color $WB-bg-active-color
  --q-color-WB-text-active-color $WB-text-active-color
  --q-color-WB-bg-profile-color $WB-bg-profile-color
  --q-color-WB-modal-bg-color $WB-modal-bg-color
  --q-color-WB-table-hover-background $WB-bg-active-color
  --q-color-WB-table-header-border $WB-table-header-border
  --q-color-WB-table-cell-border $WB-table-cell-border
  --q-color-WB-table-first-cell-color $WB-table-first-cell-color
  --q-color-WB-dialer-header-color $WB-dialer-header-color
  --q-color-WB-input-border-color $WB-input-border-color
  --q-color-WB-work-day $WB-work-day
  --q-color-WB-weekend $WB-weekend
  --q-color-WB-schedule-green $WB-schedule-green


.bg-WB-primary
  background var(--q-color-WB-primary) !important

.text-WB-primary
  color var(--q-color-WB-primary) !important

.bg-WB-secondary
  background var(--q-color-WB-secondary) !important

.text-WB-secondary
  color var(--q-color-WB-secondary) !important


.bg-WB-accent
  background var(--q-color-WB-accent) !important

.text-WB-accent
  color var(--q-color-WB-accent) !important


.bg-WB-primary-color
  background var(--q-color-WB-primary-color) !important

.text-WB-primary-color
  color var(--q-color-WB-primary-color) !important


.bg-WB-secondary-color
  background var(--q-color-WB-secondary-color) !important

.text-WB-secondary-color
  color var(--q-color-WB-secondary-color) !important


.bg-WB-tertiary-color
  background var(--q-color-WB-tertiary-color) !important

.text-WB-tertiary-color
  color var(--q-color-WB-tertiary-color) !important


.bg-WB-dark
  background var(--q-color-WB-dark) !important

.text-WB-dark
  color var(--q-color-WB-dark) !important


.bg-WB-bg-color
  background var(--q-color-WB-bg-color) !important

.text-WB-bg-color
  color var(--q-color-WB-bg-color) !important


.bg-WB-info-color
  background var(--q-color-WB-info-color) !important

.text-WB-info-color
  color var(--q-color-WB-info-color) !important


.bg-WB-danger-color
  background var(--q-color-WB-danger-color) !important

.text-WB-danger-color
  color var(--q-color-WB-danger-color) !important


.bg-WB-warning-color
  background var(--q-color-WB-warning-color) !important

.text-WB-warning-color
  color var(--q-color-WB-warning-color) !important


.bg-WB-link-color
  background var(--q-color-WB-link-color) !important

.text-WB-link-color
  color var(--q-color-WB-link-color) !important


.bg-WB-border-color
  background var(--q-color-WB-border-color) !important

.text-WB-border-color
  color var(--q-color-WB-border-color) !important


.bg-WB-border-title-color
  background var(--q-color-WB-border-title-color) !important

.text-WB-border-title-color
  color var(--q-color-WB-border-title-color) !important


.bg-WB-border-comments-color
  background var(--q-color-WB-border-comments-color) !important

.text-WB-border-comments-color
  color var(--q-color-WB-border-comments-color) !important


.bg-WB-border-input-color
  background var(--q-color-WB-border-input-color) !important

.text-WB-border-input-color
  color var(--q-color-WB-border-input-color) !important


.bg-WB-disabled-color
  background var(--q-color-WB-disabled-color) !important

.text-WB-disabled-color
  color var(--q-color-WB-disabled-color) !important


.bg-WB-legend-color-danger
  background var(--q-color-WB-legend-color-danger) !important

.text-WB-legend-color-danger
  color var(--q-color-WB-legend-color-danger) !important


.bg-WB-legend-color-warning
  background var(--q-color-WB-legend-color-warning) !important

.text-WB-legend-color-warning
  color var(--q-color-WB-legend-color-warning) !important


.bg-WB-legend-color-info
  background var(--q-color-WB-legend-color-info) !important

.text-WB-legend-color-info
  color var(--q-color-WB-legend-color-info) !important


.bg-WB-facebook-color
  background var(--q-color-WB-facebook-color) !important

.text-WB-facebook-color
  color var(--q-color-WB-facebook-color) !important


.bg-WB-twitter-color
  background var(--q-color-WB-twitter-color) !important

.text-WB-twitter-color
  color var(--q-color-WB-twitter-color) !important


.bg-WB-google-color
  background var(--q-color-WB-google-color) !important

.text-WB-google-color
  color var(--q-color-WB-google-color) !important


.bg-WB-instagram-color
  background var(--q-color-WB-instagram-color) !important

.text-WB-instagram-color
  color var(--q-color-WB-instagram-color) !important


.bg-WB-vkontakte-color
  background var(--q-color-WB-vkontakte-color) !important

.text-WB-vkontakte-color
  color var(--q-color-WB-vkontakte-color) !important


.bg-WB-odnoklassniki-color
  background var(--q-color-WB-odnoklassniki-color) !important

.text-WB-odnoklassniki-color
  color var(--q-color-WB-odnoklassniki-color) !important


.bg-WB-text-profile-color
  background var(--q-color-WB-text-profile-color) !important

.text-WB-text-profile-color
  color var(--q-color-WB-text-profile-color) !important


.bg-WB-tooltip-title-color
  background var(--q-color-WB-tooltip-title-color) !important

.text-WB-tooltip-title-color
  color var(--q-color-WB-tooltip-title-color) !important


.bg-WB-bg-active-color
  background var(--q-color-WB-bg-active-color) !important

.text-WB-bg-active-color
  color var(--q-color-WB-bg-active-color) !important


.bg-WB-text-active-color
  background var(--q-color-WB-text-active-color) !important

.text-WB-text-active-color
  color var(--q-color-WB-text-active-color) !important


.bg-WB-schedule-green
  background var(--q-color-WB-schedule-green) !important

.text-WB-schedule-green
  color var(--q-color-WB-schedule-green) !important


.bg-WB-bg-profile-color
  background var(--q-color-WB-bg-profile-color) !important

.text-WB-bg-profile-color
  color var(--q-color-WB-bg-profile-color) !important


.bg-WB-modal-bg-color
  background var(--q-color-WB-modal-bg-color) !important

.text-WB-modal-bg-color
  color var(--q-color-WB-modal-bg-color) !important


.bg-WB-table-hover-background
  background var(--q-color-WB-table-hover-background) !important

.text-WB-table-hover-background
  color var(--q-color-WB-table-hover-background) !important


.bg-WB-table-header-border
  background var(--q-color-WB-table-header-border) !important

.text-WB-table-header-border
  color var(--q-color-WB-table-header-border) !important


.bg-WB-table-cell-border
  background var(--q-color-WB-table-cell-border) !important

.text-WB-table-cell-border
  color var(--q-color-WB-table-cell-border) !important


.bg-WB-table-first-cell-color
  background var(--q-color-WB-table-first-cell-color) !important

.text-WB-table-first-cell-color
  color var(--q-color-WB-table-first-cell-color) !important


.bg-WB-dialer-header-color
  background var(--q-color-WB-dialer-header-color) !important

.text-WB-dialer-header-color
  color var(--q-color-WB-dialer-header-color) !important


.bg-WB-input-border-color
  background var(--q-color-WB-input-border-color) !important

.text-WB-input-border-color
  color var(--q-color-WB-input-border-color) !important


.bg-WB-work-day
  background var(--q-color-WB-work-day) !important

.text-WB-work-day
  color var(--q-color-WB-work-day) !important


.bg-WB-weekend
  background var(--q-color-WB-weekend) !important

.text-WB-weekend
  color var(--q-color-WB-weekend) !important
