$font-size-xs = 9px
$font-size-s = 10px
$font-size-sm = 11px
$font-size-small = 12px
$font-size-md = 13px
$font-size-medium = 14px
$font-size-normal = 16px
$font-size-large = 20px

.font-size-xs
  font-size $font-size-xs

.font-size-sm
  font-size $font-size-sm

.font-size-small
  font-size $font-size-small

.font-size-md
  font-size $font-size-md

.font-size-medium
  font-size $font-size-medium

.font-size-normal
  font-size $font-size-normal

.font-size-large
  font-size $font-size-large

.font-size-s
  font-size $font-size-s
