// app global css in Stylus form

@import 'quasar.variables.styl'

@import 'styles/WB/colors.styl'

@import 'styles/WB/text-sizes.styl'

@import 'styles/general.styl'

@import 'styles/heroes.styl'

@import 'styles/operatorWB.styl'
