@font-face
  font-family: 'Navigo'
  font-style: 400
  font-weight: normal
  src: url('../statics/fonts/navigo/Navigo-Regular-Web.woff2') format('woff2')

@font-face
  font-family: 'Navigo'
  font-weight: 700
  font-style: normal
  src: url('../statics/fonts/navigo/Navigo-Bold-Web.woff2') format('woff2')

@font-face
  font-family: 'Navigo'
  font-weight: 900
  font-style: normal
  src: url('../statics/fonts/navigo/Navigo-Black-Web.woff2') format('woff2')
